@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1621683308320') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qqkongjian:before {
  content: "\e62e";
}

.icon-weixin:before {
  content: "\e62b";
}

.icon-weibo:before {
  content: "\e67a";
}

.icon-qq:before {
  content: "\e614";
}

.icon-pengyouquan:before {
  content: "\e667";
}

